{% extends "base.html" %}


{% block mainContent %}

    {% include 'components/herosection.html'%}
    {% include 'components/categorysection.html'%}
    {% include 'components/discountsection.html'%}
    {% include 'components/fashionsection.html'%}
    {% include 'components/collectsection.html'%}
    {% include 'components/ctasection.html'%}
    {% include 'components/sponsorsection.html'%}
    {% include 'components/dealsection.html'%}
    {% include 'components/blogsection.html'%}  


{% endblock mainContent %}