<section class="blog-section pb-100">
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="section-title mb-0">Our Latest News Insight</h2>
        </div>
        <div class="row gy-lg-0 gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="post-card">
                    <div class="post-thumb">
                        <img src="assets/img/blog/post-1.jpg" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 Comment</li>
                                <li><i class="fa-regular fa-tag"></i>oil Change</li>
                            </ul>
                            <h3 class="title"><a href="blog-details.html">Fashion Around the: Exploring Cultural Influences</a></h3>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-details.html" class="read-more">Read More<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="post-card">
                    <div class="post-thumb">
                        <img src="assets/img/blog/post-2.jpg" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 Comment</li>
                                <li><i class="fa-regular fa-tag"></i>oil Change</li>
                            </ul>
                            <h3 class="title"><a href="blog-details.html">Embracing Ethical and Eco friendly Fashion</a></h3>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-details.html" class="read-more">Read More<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="post-card">
                    <div class="post-thumb">
                        <img src="assets/img/blog/post-3.jpg" alt="post">
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 Comment</li>
                                <li><i class="fa-regular fa-tag"></i>oil Change</li>
                            </ul>
                            <h3 class="title"><a href="blog-details.html">How to Decorate Your Car for Halloween</a></h3>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-details.html" class="read-more">Read More<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ blog-section -->