<section class="category-section pt-100 pb-100">
    <div class="container">
        <div class="category-top heading-space space-border">
            <div class="section-heading mb-0">
                <h2 class="section-title">Best for your categories</h2>
                <p>29 categories belonging to a total 15,892 products</p>
            </div>
            <!-- Carousel Arrows -->
            <div class="swiper-arrow">
                <div class="swiper-nav swiper-next"><i class="fa-regular fa-arrow-left"></i></div>
                <div class="swiper-nav swiper-prev"><i class="fa-regular fa-arrow-right"></i></div>
            </div>
        </div>
        <div class="category-carousel swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-1.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Women Wear</a></h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-2.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Shoes Collection</a></h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-3.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Bag Collection</a></h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-4.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Watch Hare</a></h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-5.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Accessories</a></h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-item">
                        <div class="category-img">
                            <img src="assets/img/images/cate-6.png" alt="category">
                        </div>
                        <h3 class="title"><a href="shop.html">Sunglasses</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ category-section -->