<section class="collect-section pb-100">
    <div class="container">
        <div class="row gy-lg-0 gy-4">
            <div class="col-lg-6">
                <div class="collect-item">
                    <span>1500+ Products</span>
                    <h3 class="title">Women Collections</h3>
                    <p>This is genuinely the first theme i bought for which i did not had <br> to write one line of code.</p>
                    <ul class="collect-list">
                        <li><a href="shop.html">Blazer</a></li>
                        <li><a href="shop.html">Blouses & Shirts</a></li>
                        <li><a href="shop.html">Dresser</a></li>
                        <li><a href="shop.html">Jeans</a></li>
                        <li><a href="shop.html">Knits</a></li>
                        <li><a href="shop.html">Pants</a></li>
                        <li><a href="shop.html">Skirts</a></li>
                        <li><a href="shop.html">Suits</a></li>
                        <li><a href="shop.html">Sweatshirts & Hoodie</a></li>
                        <li><a href="shop.html">T-Shirts</a></li>
                        <li><a href="shop.html">Tops & Bodysuits</a></li>
                    </ul>
                    <div class="men"><img src="assets/img/images/discount-1.png" alt="discount"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="collect-items">
                    <div class="collect-item item-1">
                        <span>1500+ Products</span>
                        <h3 class="title">men Collections</h3>
                        <ul class="collect-list">
                            <li><a href="shop.html">Blazer</a></li>
                            <li><a href="shop.html">Blouses & Shirts</a></li>
                            <li><a href="shop.html">Dresser</a></li>
                            <li><a href="shop.html">Jeans</a></li>
                        </ul>
                        <div class="men"><img src="assets/img/images/discount-2.png" alt="discount"></div>
                    </div>
                    <div class="collect-item item-2">
                        <span>1500+ Products</span>
                        <h3 class="title">Top Accessories</h3>
                        <ul class="collect-list">
                            <li><a href="shop.html">Blazer</a></li>
                            <li><a href="shop.html">Blouses & Shirts</a></li>
                            <li><a href="shop.html">Dresser</a></li>
                            <li><a href="shop.html">Jeans</a></li>
                        </ul>
                        <div class="men"><img src="assets/img/images/discount-3.png" alt="discount"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ collect-section -->