<section class="discount-section overflow-hidden pb-100">
    <div class="row gy-lg-0 gy-4">
        <div class="col-lg-4 col-md-6">
            <div class="discount-item item-1">
                <div class="product-overlay"></div>
                <div class="shape"><img src="assets/img/shapes/dis-shpe.png" alt="shape"></div>
                <div class="content">
                    <span>Special 50% Disocunt</span>
                    <h3 class="title">The Latest Men’s Trends <br> This Season</h3>
                    <a href="shop.html"><i class="fa-regular fa-plus"></i>View Collections</a>
                </div>
                <div class="men"><img src="assets/img/images/discount-men-1.png" alt="img"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="discount-item">
                <div class="product-overlay"></div>
                <div class="shape"><img src="assets/img/shapes/dis-shpe.png" alt="shape"></div>
                <div class="men"><img src="assets/img/images/discount-men-2.png" alt="img"></div>
                <div class="content">
                    <span>Special 50% Disocunt</span>
                    <h3 class="title">Latest Kids Trends <br>This Season</h3>
                    <a href="shop.html"><i class="fa-regular fa-plus"></i>View Collections</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="discount-item">
                <div class="product-overlay"></div>
                <div class="shape"><img src="assets/img/shapes/dis-shpe.png" alt="shape"></div>
                <div class="men"><img src="assets/img/images/discount-men-3.png" alt="img"></div>
                <div class="content">
                    <span>Special 50% Disocunt</span>
                    <h3 class="title">Latest Women’s Trends <br>This Season</h3>
                    <a href="shop.html"><i class="fa-regular fa-plus"></i>View Collections</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ discount-section -->