<section class="hero-section">
    <div class="overlay"></div>
    <div class="hero-images">
        <div class="hero-people"><img src="assets/img/images/hero-peoples.png" alt="img"></div>
        <div class="hero-shape"><img src="assets/img/shapes/hero-shape-1.png" alt="shape"></div>
        <div class="hero-shape-2"><img src="assets/img/shapes/hero-shape-2.png" alt="shape"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8"></div>
            <div class="col-xl-4 col-lg-12">
                <div class="hero-content">
                    <h4 class="sub-title">ummer 22 women’s collection</h4>
                    <h2 class="title">Super COLLECTION <br>FOR WOMEN</h2>
                    <h5 class="price"><span>From</span>$320.00</h5>
                    <a href="shop.html" class="rr-primary-btn">View Collections</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ hero-section -->