<div class="sponsor-section pt-100">
    <div class="container">
        <div class="row sponsor-wrap">
            <div class="sponsor-item bd-right bd-bottom">
                <a href="#"><img src="assets/img/sponsor/sponsor-1.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right bd-bottom">
                <a href="#"><img src="assets/img/sponsor/sponsor-2.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right bd-bottom">
                <a href="#"><img src="assets/img/sponsor/sponsor-3.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right bd-bottom">
                <a href="#"><img src="assets/img/sponsor/sponsor-4.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-bottom">
                <a href="#"><img src="assets/img/sponsor/sponsor-5.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right">
                <a href="#"><img src="assets/img/sponsor/sponsor-6.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right">
                <a href="#"><img src="assets/img/sponsor/sponsor-7.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right">
                <a href="#"><img src="assets/img/sponsor/sponsor-8.png" alt="img"></a>
            </div>
            <div class="sponsor-item bd-right">
                <a href="#"><img src="assets/img/sponsor/sponsor-9.png" alt="img"></a>
            </div>
            <div class="sponsor-item">
                <a href="#"><img src="assets/img/sponsor/sponsor-10.png" alt="img"></a>
            </div>
        </div>
    </div>
</div>
<!-- ./ sponsor-section -->